.profile__info {
  display: grid;
  align-items: baseline;
  grid-template-columns: 1fr 24px;
  column-gap: 24px;
  margin: 0 auto 0 0;
}

@media screen and (max-width: 900px) {
  .profile__info {
    margin: 0;
  }
}

@media screen and (max-width: 590px) {
  .profile__info {
    column-gap: 10px;
  }
}
